<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sanctuary Supplement</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <h1>Hello World!</h1>
      <div id="content"></div>
    </main>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/babel/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script type="text/babel">
 		  /*** @jsx React.DOM */
		  var realPython = React.createClass({
        render: function() {
          return (<h2>This uses React. Brilliant!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );
    </script>
  </body>
</html>
