<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sanctuary Secretary</title>
    <script src="https://use.fontawesome.com/01cfcdd917.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <div id="app"></div>
    </main>
    <!-- scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
  </body>
</html>
